{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <button id="toggle-btn">❮</button> <!-- Bouton pour rétracter/déployer -->
        </div>
        <div class="sidebar-content">
            <div class="sidebar-link-container">
                <a href="{% url 'home' %}" class="sidebar-link">Home</a> <!-- Lien vers la page d'accueil -->
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="#" class="nav-link active" data-view="view1">Project description</a></li>
            <li><a href="#" class="nav-link" data-view="view2">Dashboard</a></li>
        </ul>
    </div>

    <div id="view1" class="view active">
        <div class="container-ov" id="main-container-ov">

            <div class="container-title-ov">
                <div class='title-ov'>Project Overview: E-Commerce Data Analytics</div>
                {% comment %} <div class='subtitle'>Use case on a bank's client database</div> {% endcomment %}
            </div> 

            <div class="subcontainer-ov">

                <div class="text-container-ov">
                    Data analytics is crucial to the success of e-commerce platforms, 
                    as it allows stakeholders to understand customer behaviors, 
                    leading to improvements in product offerings, UI design, and marketing strategies.
                </div>
                <div class="text-container-ov">
                    This project focused on extracting raw data from an e-commerce platform and transforming 
                    it into a meaningful dashboard that highlights key performance metrics.
                </div>
                <div class="text-container-ov">
                    The dataset was sourced from the Google Merchandise Store and contains over 1.7M transactions. 
                    The first challenge involved collecting, cleaning, and formatting the data before storing it in a database.
                </div>
                <div class="text-container-ov">
                    Key metrics such as average order value, total revenue, number of visitors, bounce rate, and conversion rate were calculated. These insights,
                     along with customer and product segmentations, are available in the "Dashboard" section.
                </div>
            </div>
        </div>
    </div>
    
    <div id="view2" class="view">

        <!-- Conteneur principal -->
        <div class="container" id="main-container">
            <!-- Bandeau des métriques -->
            <div class="metrics">
                <div class="metric">
                    <div class="metric-content">
                        <img src="{% static 'icons/visitors_icon.png' %}" alt="Visitors Icon" class="metric-icon">
                        <div>
                            <h3>Total Visitors</h3>
                            <p>{{ metrics.total_visitors }}</p>
                        </div>
                    </div>
                </div>
                <div class="metric">
                    <div class="metric-content">
                        <img src="{% static 'icons/revenue_icon.png' %}" alt="Revenue Icon" class="metric-icon">
                        <div>
                            <h3>Total Revenue</h3>
                            <p>{{ metrics.total_revenue }}</p>
                        </div>
                    </div>
                </div>
                <div class="metric">
                    <div class="metric-content">
                        <img src="{% static 'icons/cr_icon.png' %}" alt="Conversion Rate Icon" class="metric-icon">
                        <div>
                            <h3>Conversion Rate</h3>
                            <p>{{ metrics.conversion_rate }}</p>
                        </div>
                    </div>
                </div>
                <div class="metric">
                    <div class="metric-content">
                        <img src="{% static 'icons/aov_icon.png' %}" alt="Order Value Icon" class="metric-icon">
                        <div>
                            <h3>Average Order Value</h3>
                            <p>{{ metrics.average_order_value }}</p>
                        </div>
                    </div>
                </div>
                <div class="metric">
                    <div class="metric-content">
                        <img src="{% static 'icons/br_icon.png' %}" alt="Bounce Rate Icon" class="metric-icon">
                        <div>
                            <h3>Bounce Rate</h3>
                            <p>{{ metrics.bounce_rate }}</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Graphiques -->
            <div class="chart chart1">{{ plots.breakdown_chart|safe }}</div>
            <div class="chart chart2">{{ plots.client_type_chart|safe }}</div>
            <div class="chart chart3">{{ plots.revenue_price_chart|safe }}</div>
            <div class="chart chart4">{{ plots.revenue_client_chart|safe }}</div>
            <div class="chart timeseries">{{ plots.time_series_chart|safe }}</div>
            <div class="chart map">{{ plots.map_chart|safe }}</div>

        </div>
    </div>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/dashboard_viewselector.js' %}"></script>
</body>
</html>
